.container {

    width: 100%;
    background-color: #747177;
    border-radius: 6px;
  
   
}

.progressBar {
    
    height: 25px;
    background-color: #aeff00f7;
    border-radius: 3px;
}